[DEFAULT]
    # exposure & outcome phenotype information - in QTLtools .bed format
    exposure_bed = /hpc/dhl_ec/llandsmeer/_atheroexpress/_integrative_v2/_data/2020-03-18-rnaseq-15710x624.qc.bed.gz
    outcome_bed = /hpc/dhl_ec/llandsmeer/_atheroexpress/_integrative_v2/_data/2020-03-18-aems450k1.bvalues.plaque.qtl.bed.gz

    # covariance file
    covariance = /hpc/dhl_ec/llandsmeer/_atheroexpress/_integrative_v2/_data/phenocov.aedb

    # .vcf.gz filename. {chr} will be replaced with the chromosome number
    vcf_per_chr = /hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11/aegs.qc.1kgp3hrcr11.chr{chr}.vcf.gz

    # SNPTEST 2.5.4-beta3 compatible sumstats.gz. {chr} will be replaced with the chromosome number
    sumstats_per_chr = /hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11/aegs.qc.1kgp3hrcr11.chr{chr}.sumstats.txt.gz

    # analysis directory
    job_directory = jobdir/multi

    # QTLtools settings
    qtl_nom_pvalue = 0.0001
    qtl_window = 1000000
    qtl_seed = 12421

    maf_threshold = 0.01

    # A list of regions for which the pipeline must run
    # For a genome wide analysis:
    #   regions = 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
    # For a region:
    #   regions = 21:9500000-40500000
    regions = 1 9 20 21:9500000-40500000

    # Location of Rscript binary
    software_rscript = /hpc/local/CentOS7/dhl_ec/software/R-3.4.0/bin/Rscript
