[DEFAULT]
    # exposure & outcome phenotype information - in QTLtools .bed format
    # {chr} will be replaced by the region's chromosome number
    # which might be useful if your phenotype data is split over multiple files
    # it's not needed, but it will greatly improve runtime for methylation data
    # exposure_bed = /hpc/dhl_ec/llandsmeer/_atheroexpress/gsmr-cpg-mrna/_mvalues/20180724.AEMS450K1.MvaluesQCplaque.qtl.new.chr{chr}.bed.gz
    # exposure_bed = /hpc/dhl_ec/llandsmeer/_atheroexpress/gsmr-cpg-mrna/_data/m.value.dip.nonrejected.naeem.zhou.gonl5.int.gz
    exposure_bed = /hpc/dhl_ec/llandsmeer/_atheroexpress/gsmr-cpg-mrna/_data/m.value.dip.nonrejected.naeem.zhou.gonl5.int.gz.chr{chr}.gz
    # outcome_bed = /hpc/dhl_ec/llandsmeer/_atheroexpress/_integrative_v2/_data/2020-03-18-rnaseq-15710x624.qc.bed.gz
    outcome_bed = /hpc/dhl_ec/llandsmeer/_atheroexpress/gsmr-cpg-mrna/_data/2020-04-28-rnaseq-10025x624.qc.bed.gz
    # outcome_bed = /hpc/dhl_ec/llandsmeer/_droppoint/2020-05-06-rnaseq-10025x624.skiptmm.qc.bed.gz

    # covariance file
    # covariance = /hpc/dhl_ec/llandsmeer/_atheroexpress/gsmr-cpg-mrna/_data/COVARIATES2
    covariance = /hpc/dhl_ec/llandsmeer/_atheroexpress/gsmr-cpg-mrna/_data/COVARIATES3

    # .vcf.gz filename. {chr} will be replaced with the chromosome number
    # vcf_per_chr = /hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11/aegs.qc.1kgp3hrcr11.chr{chr}.vcf.gz
    vcf_per_chr = /hpc/dhl_ec/llandsmeer/_atheroexpress/gsmr-cpg-mrna/filtered/{chr}.vcf.gz

    # SNPTEST 2.5.4-beta3 compatible sumstats.gz. {chr} will be replaced with the chromosome number
    sumstats_per_chr = /hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11/aegs.qc.1kgp3hrcr11.chr{chr}.sumstats.txt.gz

    # analysis directory
    job_directory = jobdir

    # QTLtools settings
    # qtl_nom_pvalue = 1.25e-5
    qtl_nom_pvalue = 2.5e-5
    qtl_window = 1000000
    qtl_seed = 12421
    # qtl_mode is nominal or permutation
    qtl_mode = nominal

    # eg, --normal
    qtl_extra_opts =

    exclude_covariates_exposure = 6:32604410 EPC1 EPC2 EPC3 EPC4 EPC5 EPC6 EPC7 EPC8 EPC9 EPC10
    exclude_covariates_outcome = RNAseqBatch RNAseqPool 6:32604410 

    # total:
    # maf_threshold_exposure = 0.08
    # maf_threshold_outcome = 0.05
    # region:
    maf_threshold_exposure = 0.05
    maf_threshold_outcome = 0.03

    # A list of chromsomes for which the pipeline must run
    regions = 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

    # Location of Rscript binary
    software_rscript = /hpc/local/CentOS7/dhl_ec/software/R-3.4.0/bin/Rscript

    gsmr_r2 = 0.3
    gsmr_p = 1

    qtl_jobs = 50
    gsmr_jobs = 50

[peer]

/hpc/dhl_ec/llandsmeer/_atheroexpress/peer/full40/COVARIATES40MFULL

[nom]

    qtl_mode = nominal
    job_directory = 2020-05-06-nom-expr+tmm-filt

[nom2]

    qtl_mode = nominal
    job_directory = 2020-05-22-nom-cpg-exclude-no-peer-perchr-p1
    qtl_nom_pvalue = 1

[perm]

    qtl_mode = permutation
    qtl_permutations = 10000
    job_directory = 2020-04-28-perm-newbed
    gsmr_p = 0.05
    vcf_per_chr = /hpc/dhl_ec/llandsmeer/_atheroexpress/gsmr-cpg-mrna/filtered/{chr}.vcf.gz

[qq]

    qtl_nom_pvalue = 1
    qtl_mode = nominal
    job_directory = 2020-05-14-nom-expr+tmm-filt-save-all
    regions = 1 22
