[DEFAULT]
exposure_bed = /hpc/dhl_ec/llandsmeer/_atheroexpress/_integrative_v2/_data/2020-03-18-rnaseq-15710x624.qc.bed.gz
outcome_bed = /hpc/dhl_ec/llandsmeer/_atheroexpress/_integrative_v2/_data/2020-03-18-aems450k1.bvalues.plaque.qtl.bed.gz
covariance = /hpc/dhl_ec/llandsmeer/_atheroexpress/_integrative_v2/_data/phenocov.aedb
vcf_per_chr = /hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11/aegs.qc.1kgp3hrcr11.chr{chr}.vcf.gz
sumstats_per_chr = /hpc/dhl_ec/data/_ae_originals/AEGS_COMBINED_EAGLE2_1000Gp3v5HRCr11/aegs.qc.1kgp3hrcr11.chr{chr}.sumstats.txt.gz
job_directory = jobdir

qtl_nom_pvalue = 0.0001
qtl_window = 1000000
qtl_seed = 12421
qtl_region = 21:9500000-40500000

software_rscript = /hpc/local/CentOS7/dhl_ec/software/R-3.4.0/bin/Rscript
